.DS_Store

# Azure Kinect dlls
k4a.dll
k4abt.dll
dnn_model.onnx
dnn_model_2_0.onnx
depthengine_1_0.dll
depthengine_2_0.dll
onnxruntime.dll

# ignore mixed reality toolkit
/unity/Assets/MixedRealityToolkit/
/unity/Assets/MixedRealityToolkit.Generated/
/unity/Assets/MixedRealityToolkit.Providers/
/unity/Assets/MixedRealityToolkit.SDK/
/unity/Assets/MixedRealityToolkit.Services/
/unity/Assets/MixedRealityToolkit.meta
/unity/Assets/MixedRealityToolkit.Generated.meta
/unity/Assets/MixedRealityToolkit.Providers.meta
/unity/Assets/MixedRealityToolkit.SDK.meta
/unity/Assets/MixedRealityToolkit.Services.meta
/unity/Assets/MRTK.meta

# Visual Studio cache directory
.vs/

# DNN files (if added locally)
cublas64_100.dll
cudnn64_7.dll


lightweight-human-pose-estimation-3d-demo.pytorch/